.card {
    border: 1px solid hsl(0, 0%, 80%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Spazio tra le card */
    border-radius: 8px; /* Angoli arrotondati */
}

.icon-container {
    cursor: pointer; /* Cambia il cursore per indicare cliccabile */
    font-size: 3rem; /* Dimensione dell'icona */
}

.task-name {
    font-weight: bold; /* Grassetto per il nome del task */
}

.task-priority {
    position:absolute;
    top: 3px;
    right: 23px;
    font-style: italic; /* Corsivo per la priorità */
}

.task-urgent{
    background-color: red;
}

.complete {
    background-color: hsl(120, 86%, 37%);
}

.not-expanded{
    max-width: ;
    
}

.moreInfoContent {
    max-height: 112px; /*exact px count for 4 lines*/
    overflow-y: auto;
}