
/*primo codice, da controllare
/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/* Header.css */
.navbar {
  background-color: #4CAF50; /* Sostituisci con il tuo colore desiderato */
}

.navbar .nav-link {
  color: rgb(214, 82, 82); /* Cambia il colore del testo del link */
}

.navbar .nav-link.active {
  color: #000000; /* Colore per il link attivo */
}

.navbar .btn-secondary {
  font-size: 100;
  width: 40px;
  background-color: #636d78; /* Cambia il colore del pulsante */
  border: none; /* Rimuovi il bordo se necessario */
}
